@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

* {
  background: url("./pic1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#board {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
}

.square {
  background: white;
  width: 100px;
  height: 100px;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  font-size: 45px;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.square:hover {
  background: #eee;
}

#game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  text-align: center;
}
#head {
  font-family: "Bree Serif", serif;
  color: white;
  font-size: 20px;
  margin-bottom: 40px;
}
#head:hover {
  color: yellowgreen;
}
p {
  font-family: "Bree Serif", serif;
  text-align: center;
}
#status {
  font-size: 20px;
  font-family: "Bree Serif", serif;
  background: none;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

#sreebtn {
  margin-top: 30px;
  width: 90px;
  height: 40px;
  background: none;
}
#btn {
  width: 90px;
  height: 40px;
  border-radius: 7px;
  font-size: 15px;
  color: white;
  font-weight: 700;
  background: rgb(255, 81, 0);
  border: none;
}
#btn:hover {
  cursor: pointer;
  background: rgb(255, 0, 0);
}
